{% extends 'menu_app/my_style.html' %}
{% block titel %}Конструктор пиццы{% endblock %}
{% block content %}
    <div class="features">
        <h2>Здесь ты можешь создать свою собственную невообразимую пиццу, следуй за подсказками ниже.</h2>
        <form method="post" >
            {%  csrf_token %}
                {{ form.pizza_size.label }}{{ form.pizza_size }}<br>
                {{ form.dought_thickness.label }}{{ form.dought_thickness }}<br>
                {{ form.sauce.label }}{{ form.sauce }}<br>
                {{ form.ingredients.label }}{{ form.ingredients }}<br>
                {{ form.cheese.label }}{{ form.cheese }}<br>
                {{ form.quantity.label }}{{ form.quantity }}<br>
            <span>{{ error }}</span>
             <p>Стоимость ингредиентов: <span id="ingredient-price">0.00</span></p>

            <button class="btn btn-success" type="submit">Добавить в корзину</button>


        </form>

    </div>

{% endblock %}